<footer class= "footer">
   <section id="contact-us" style= "padding-top: 50px;" >
      <div style = "background-color: LightGray; padding: 15px" class = "container">
         <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="contact__content">
                  <div class="contact__address">
                     <h5>Contact info</h5>
                     <ul>
                        <li>
                           <h6><i class="fa fa-map-marker"></i> Address</h6>
                           <p>Devsinc, Lahore</p>
                        </li>
                        <li>
                           <h6><i class="fa fa-phone"></i> Phone</h6>
                           <p><span>316-144-1118</span></p>
                        </li>
                        <li>
                           <h6><i class="fa fa-headphones"></i> Support</h6>
                           <p>MailUs@gmail.com</p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div >
               <div class="col-lg-6 col-md-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4373.716335879148!2d74.42007038708843!3d31.468582593035304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391905fce8485861%3A0x8da1388336e3a45!2sDevsinc!5e0!3m2!1sen!2s!4v1597846970351!5m2!1sen!2s" width="520" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </iframe>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="about" style = "padding-top: 50px">
      <div style = "background-color: LightGray; padding: 15px 0px;" class = "container">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="section-title text-center pb-30">
                  <h2 class="title" style= "color: #008CBA">Our Services</h2>
                  <p>We will make you happy :)</p>
               </div>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-8">
               <div class="single-service text-center mt-30">
                  <div class="service-icon">
                     <i class="lni-code-alt"></i>
                  </div>
                  <div class="service-content">
                     <h4 class="service-title" style= "color: #008CBA">Quick deliveries</h4>
                     <p>we deliver within 3 days all over the Pakistan. we hope you enjoy our products.</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8">
               <div class="single-service text-center mt-30">
                  <div class="service-icon">
                     <i class="lni-code-alt"></i>
                  </div>
                  <div class="service-content">
                     <h4 class="service-title" style= "color: #008CBA">Always available</h4>
                     <p>We are always here to help. We typically reply within 24 hours.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</footer>
