<div class= "text-muted">
  sadadas
</div>
<h2>Home Page</h2>

<%if current_user%>

  <%if current_user.avator.attached?%>
    <%= image_tag current_user.avator,height: 200, width: 200, class: "rounded-circle" %><br>

  <%end%>
  <%=link_to "edit" , edit_user_registration_path %>
  <%=link_to "Sign out" , destroy_user_session_path, method: :delete, data: {confirm: "are you sure?"}%>
<%end%>
