<%= form_with(model: order, local: true) do |form| %>
  <div class="field">
    <%= form.label :coupen_id %><p>leave empty if you dont have coupen</p>
    <%= form.number_field :coupen_id %>
  </div>

  <div class="actions">
    <%= form.submit  %>
  </div>
<% end %>
